### .gitignore ---
##
## Description:
##
## Author: Julien Wintz
## Copyright (C) 2026 Julien Wintz
##
######################################################################
##
### Commentary:
##
######################################################################
##
### Code:

## ###################################################################
## Agentic
## ###################################################################

.claude
.sisyphus

## ###################################################################
## Build folders
## ###################################################################

.build
.local
build-ios

## ###################################################################
## Frontmatter
## ###################################################################

*.md
!README.md

## ###################################################################
## Unreleased
## ###################################################################

.github
vault

######################################################################
### .gitignore ends here
